libs/
target/classes
target/generated-sources
bower_components/
.idea/misc.xml
.idea/workspace.xml
certificate.admin.iml
src/main/webApp/build/
logs
src/main/resources/META_INF/
src/test/
node_modules
