libs/
target/
target/**
bower_components
./settings/
.classpath
.project
.idea/
*.iml
node_modules/
.tmp/
src/main/webApp/dist/
src/main/webApp/build/
.springBeans
/.apt_generated/
.factroypath
/.idea/workspace.xml
/.idea/misc.xml
certificate.admin.iml
logs